<div>

    <h1 data-aos="fade-up" data-aos-delay="50" class="center light">Webpack &middot; Handlebars &middot; Babel &middot; Hot reloading &middot; SASS &middot; SVG inlining</h1>
    <h1 data-aos="fade-up" data-aos-delay="100" class="center light">project starter</h1>

    <div data-aos="fade-right" data-aos-delay="150">
        {{inlineSvg "../assets/icons-inline/invader.svg" class="invader"}}
    </div>

    <h2 data-aos="fade-up" data-aos-delay="150" class="center fancy">I heard you wanna start coding (y)</h2>
    <h2 data-aos="fade-up" data-aos-delay="200" class="center fancy">Wut ya waitin fo?</h2>
    <h2 data-aos="fade-up" data-aos-delay="200" class="center fancy">fO?</h2>

    <div data-aos="fade-up" data-aos-delay="200" class="fork center">
        <iframe src="https://ghbtns.com/github-btn.html?user=martyan&repo=webpack-project-starter&type=fork&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>
    </div>

    <a data-aos="fade-up" data-aos-delay="2000" class="github" href="https://github.com/martyan/start-coding" target="_blank">
        {{inlineSvg "../assets/icons-inline/github.svg" class="github"}}
    </a>

</div>
