<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>Index | start-coding</title>
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>

<p>List of your pages</p>

<ul id="routing"></ul>

<script>
    const files = "{{htmlWebpackPlugin.options.files}}".split(',')
    const routing = document.getElementById('routing')

    if(routing) {

        files.forEach(file => {
            const li = document.createElement('li')
            const a = document.createElement('a')
            const text = document.createTextNode(file)
            a.href = './pages/' + file
            a.appendChild(text)
            li.appendChild(a)
            routing.appendChild(li)
        })

    }
</script>

{{> components/analytics}}

</body>
</html>
